<br><br><br>
<center>
  <h1>Welcome New User</h1>
  <p>Please fill out the following information to stay intouch:</p>
  <%= erb :'_errors', layout: false %>
  
<div class="container">
  <form class="" action="/signup" method="post">

    <div class="">
      <label for="first_name">First Name</label>
      <input type="text" name="user[first_name]" value="" id="first_name">
    </div>

    <div class="">
      <label for="last_name">Last Name</label>
      <input type="text" name="user[last_name]" value="" id="last_name">
    </div>

    <div class="">
      <label for="email">Email</label>
      <input type="email" name="user[email]"  value="" id='email'>
    </div>

    <input type="submit" name="" value="Submit">
  </form>
</div>
</center>
